.top-line {
    position: fixed;
    color: wheat;
    width: 1500px;
}

.title { /*div*/
    /*  */
    /* position: fixed; */
    
    width: 300px;
    height: 80px;
    margin-left: 18px;
    margin-right: 200px;
    vertical-align:top;
    display: inline-block;
    z-index: 1;
}

.first-page {
    
    background-color: rgb(147, 34, 34);
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1535.5px;
    height: 713.6px;
    /* background-size: cover; */
    position: absolute; /*讓圖片切齊*/
    display: block;
    z-index: -1;
}

.hcsu113th {
    
    /* position: absolute; */
    /* width: 512px;
    height: 529px; */
    
    border: none;
    border-radius: 40px;
    max-height: 56px;
    max-width: 225px;
    padding: 8px 12px 8px 12px;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

.button {
    position: absolute;
    top: 10px;
}

.hello{
    color: wheat;
    font-weight: 300;
    font-family: "roboto";
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 60px;
    vertical-align: top;
    /* margin-top: 60px; */
    display: inline-block;
}
.menu {
    position: absolute;
    color: wheat;
    
    width: 1000px;
    height: 80px;
    font-weight: 300;
    font-family: "roboto";
    font-size: 45px;
    margin: 0;
    display: inline-block;
    z-index: 1;
    text-align: left;
}
.menu-content {
    font-weight: 500;
    font-size: 40px;
    width: 1000px;
    display: inline-block;
    
}
.menu-content a{
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.menu-content a:hover {  
    color: white;  
    box-shadow: 0 3px 1px rgba(206, 51, 49, 2);
}

ul{
    color: wheat;
    margin: 0;
    padding: 0;
    list-style: none;
}
li { /*更改清單選項整體*/
    
    color: rgba(34,110,147,1);
    margin-right: 10px;
    display: inline-block;
}
li a{ /*更改清單選項中文字顏色*/
    color: wheat;
}
