.top-line {
    position: fixed;
    color: wheat;
    width: 1500px;
    display: block;
}

.title { /*div*/    
    width: 300px;
    height: 80px;
    margin-left: 18px;
    margin-right: 200px;
    vertical-align:top;
    display: inline-block;
    z-index: 1;
}

.first-page {
    
    background-color: rgb(147, 34, 34);
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1535.5px;
    height: 713.6px;
    
    position: absolute; /*讓圖片切齊*/
    display: block;
    z-index: -1;
}

.hcsu113th {
    
    border: none;
    border-radius: 40px;
    max-height: 56px;
    max-width: 225px;
    padding: 8px 12px 8px 12px;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

.button {
    position: absolute;
    top: 10px;
}

.hello{
    color: wheat;
    font-weight: 300;
    font-family: "roboto";
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 60px;
    vertical-align: top;
    /* margin-top: 60px; */
    display: inline-block;
}
.menu {
    position: absolute;
    color: wheat;
    
    width: 1000px;
    height: 80px;
    font-weight: 300;
    font-family: "roboto";
    font-size: 30px;
    margin: 10px 0 0 0;
    display: inline-block;
    z-index: 1;
    text-align: left;
    vertical-align: middle;
}
.menu-content {
    font-weight: 500;
    font-size: 30px;
    width: 1000px;
    vertical-align:bottom;
    display: inline-block;
    
}
.menu-content a{ /*菜單列表的文字*/
    
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.menu-content a:hover {  /*鼠標懸停時文字變化*/
    color: white;  
    box-shadow: 0 3px 1px rgba(206, 51, 49, 2);
}

ul{
    color: wheat;
    margin: 0;
    padding: 0;
    list-style: none;
}
li { /*更改清單選項整體*/
    
    color: rgba(34,110,147,1);
    margin-right: 10px;
    display: inline-block;
}
li a{ /*更改清單選項中文字顏色*/
    color: wheat;
}

.first-page-bottom { /*div*/
    color: wheat;
    width: 1500px;
    height: 680px;
    margin: 0;
    text-align: right;
    display: inline-block;
    z-index: 1;
}
.hchs-student-asso {
    /**/
    font-size: 110px;
    font-weight: 700;
    width: 500px;
    padding-bottom: 100px;
    padding-right: 100px;
    margin-right: 0px;
    text-align: center;
    display: inline-block;
}
.sep-line-box { /*網頁分隔線布局*/
    margin-top: 15px;
    width: 100%;
    height: 20px;
}

.sep-line {  /*網頁分隔線*/
    width: 80%;
    height: 2.5px;
    background-color: rgba(0,0,0,0.150000006);
    margin-left: 145px;
}


.the-news-box1 {
    width: 95%;
    height: 500px;
}
.the-news-box2 {
    margin-left: 10%;
}
.the-news-title { /*學聯會最新資訊*/
    font-size: 28px;
    font-weight: 500;
    color: rgba(34,110,147,1);
}
.the-news-content {
    width: 85%;
    height: 400px;
    margin-left: 145px;
}
.news-content-line1 {
    color: rgba(117, 116, 116, 2);
    font-size: 20px;
    font-weight: 600;
}
.news-content-line1-d {
    color: rgba(117, 116, 116, 2);
    font-size: 18px;
    font-weight: 500px;
    margin-left: 20px;
}
.news-content-line1-D {
    color: rgba(117, 116, 116, 2);
    font-size: 18px;
    font-weight: 500px;
    margin-left: 30px;
}
.dot{
    font-size: 20px;
}